<launch>
    <arg name="map_file" default="$(find archie_bringup)/maps/new_map.yaml" />

    <include file="$(find archie_bringup)/launch/robot.launch" />
    <include file="$(find archie_bringup)/launch/_amcl.launch" />

    <node name="map_server" pkg="map_server" type="map_server" args= "$(arg map_file)"/>
</launch>